@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

:root{
    --color-red: red;
    --color-white:#FFFFFF;
    --font-oswald: 'Oswald', sans-serif;
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: var(--font-oswald);
    font-size:14px;
    background-color:var(--color-white);
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    /* align-items:center; */
}

.container-title{ 
    background-color: var(--color-red);
    color:var(--color-white);
    width: 58%;
    height: 50px;
    padding-top: 5px;
}

.container-title .title{
    display:flex;
    justify-content: center;
}

.container-all{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin:10px;
    padding-left: 200px;
}


.card{
    max-width: 350px;
    min-height: 400px;
    margin:10px;
    /* display:block; */
    /* justify-content: flex-end; */
    font-size:10px;
    border:#AEB6BF 0.2px solid;
    border-radius: 2%;
}

.image{
    border-bottom:#AEB6BF 0.2px solid;
    display: flex;
    justify-content: center;
}

.image img{
    max-width: 90%;
    min-height:45vh;
    padding: 30px;
}

.content-card{
    margin-top: 15px;
    border-bottom:#AEB6BF 0.2px solid;
}


.product-name {
    font-size:20px;
    text-align: center;
}

.acount{
    font-size:14px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;  
}


.number-container{ 
    display:flex;
    justify-content: space-around;
    margin-bottom: 15px; 
}

input .number{
    width:60%;
    border:#AEB6BF 0.2px solid;
}

.number{
    border:#AEB6BF 0.2px solid;
    border-radius: 6px;
}

.minus{
    padding:10px;
}


.more{
    padding:10px;
}



.add-container{
    display: flex;
    justify-content: center;
    padding: 10px;
   
}

.add{
    background-color: var(--color-red);
    border:none;
    font-family: var(--font-oswald);
    border-radius: 10px;
    color:white;
    font-size: 18px;
    cursor: pointer;
    width:35%;
    height: 45px;
}

.add:hover{
    background-color:#dc143c
}


@media only screen and (max-width: 628px){
    .container-all{
        grid-template-columns: 1fr;
        padding: 0px 110px;
        justify-content: center;
         
    }

    .container-title{
        width: 100%;
        height: 50px;
        margin-top: 10px;    
    }

    .card{
        width: 90%;
        display: inline-block;
    }
}


@media only screen and (max-width: 375px){

    .container-all{
        justify-content: center;
    }

    .container-title{
        width: 100%;
    }

    .card{
        display:flex;
        width: 90%;
        padding:0 20px;
    }
}
